body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 150px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #bbbdb3;
  transition: 0.6s ease;
}

/*-----------------Gallery-----------------*/
/* The grid: Four equal columns that floats next to each other */
.row{
  padding-left: 30px;
}
.column {
  float: left;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  width: 300px;
  height: 300px;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*---------------------footer--------------*/
.footer {
  padding: 20px;
  text-align: center;
  background: #6b6b6a;
  color: white;
}

.teams{
  display:flex;
  justify-content: center;
}
.members{
  padding:7px 20px 30px 30px ;
  /* width:12px; */
}
#team{
  text-align: center;
}

/* welcome.php */
#paybtn{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 25px;             /* top 10px and sides 25px */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  }
